<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>breadboard</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
    <% if (agent === "electron") { %>
    <link href="./electron.css" rel="stylesheet" />
    <% } %>
  </head>
  <body>
    <div>
      <h1>Breadboard</h1>
      <a href="/" class='btn'>Go</a>
    </div>
  </body>
</html>
